# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/